@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "QurovaDEMO";
  src: url("/fonts/QurovaDEMO-Medium-BF67a5c6382651c.otf") format("opentype");
}

@import "tailwindcss";  

html {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

.QurovaDEMO {
  font-family: "QurovaDEMO", sans-serif;
}

@theme {
  --color-primary: #bf95f9;
  --color-secondary: #18181b;
}
